
* {
  background: #021526;
  font-family: 'Courier New', Courier, monospace;
  line-height: 28px;
}

/* useState.jsx */
button {
  background: #03346E;
  color: #E2E2B6;
  padding: 5px;
  font-weight: bolder;
}

.HooksUseState {
  margin-left: 190px;
}

.descriptionUseState {
  padding-top: 20px;
  margin-right: 200px;
}

.UseStateIntro {
  padding-top: 20px;
}

.syntaxUseState {
  border: 1px solid white;
  border-radius: 8px;
  margin-right: 300px;
  background: #03346E;
  padding-left: 20px;
  padding-right: 20px;
  color: darkgreen;
  margin-bottom: 20px;
}

.syntaxUseState p {
  font-weight: bolder;
  padding-left: 8px;
}

.desSyntax {
  background: #03346E;
  color: #E2E2B6;
}

.sampleUseState {
  border: 1px solid white;
  border-radius: 8px;
  background:#03346E;
  margin-right: 300px;
  text-align: center;
}

.SampleOutput {
  color: #E2E2B6;
}

.BoxUseState {
  border: 1px solid white;
  background: whitesmoke;
  padding: 5vh;
  margin-left: 200px;
  margin-right: 200px;
}

h3 {
  background: #03346E;
}

div {
  color: #E2E2B6;
  padding-bottom: 20px;
}

div button:hover {
  background: #021526;
}