
* {
  background: #021526;
  font-family: 'Courier New', Courier, monospace;
  line-height: 28px;
}

/* useState.jsx */
button {
  background: #03346E;
  color: #E2E2B6;
  padding: 5px;
}

.HooksUseState {
  margin-left: 190px;
}

.descriptionUseState {
  padding-top: 20px;
  margin-right: 200px;
}

.UseStateIntro {
  padding-top: 20px;
}

.sampleUseState {
  border: 1px solid white;
  background:#03346E;
  margin-right: 300px;
  text-align: center;
}

.BoxUseState {
  border: 1px solid white;
  background: whitesmoke;
  padding: 5vh;
  margin-left: 200px;
  margin-right: 200px;
}

h3 {
  background: #03346E;
}

div {
  color: #E2E2B6;
  padding-bottom: 20px;
}

div button:hover {
  background: #021526;
}